Repository nickytonline/minty-metaplex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --findRelatedTests, prettier --write --prose-wrap always

Upgraded NEXT.js
  next-env.d.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, jest --findRelatedTests

Fixed Phantom wallet check for Desktop. Still trying to sort mobile.
  pages/index.tsx
Due: prettier --write, eslint --fix, jest --findRelatedTests

Fixed Phantom wallet check for mobile.
  pages/index.tsx
Due: prettier --write, eslint --fix, jest --findRelatedTests

Added code scanning
  .github/workflows/codeql-analysis.yml
Due: none

Updated images for README.
  README.md
  minty-metaplex-wallet.png
  mintymetaplex-screenshot.png
Due: prettier --write --prose-wrap always

Path conditions:
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.json)) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts,tsx}
  jest --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write --prose-wrap always: any of: *.{md, yml}
